.container {
  display: flex;
  margin-top: 100px;
  .cells-container {
    display: flex;
    justify-content: center;
    .cells {
      margin: 20px;
      width: 320px;
      display: flex;
      flex-wrap: wrap;
      .cell {
        width: 80px;
        height: 120px;
        position: relative;
        padding: 2px;
        border: 1px solid black;

        .gold {
          cursor: pointer;
        }

        .hunter {
          position: absolute;
          width: 100%;
          display: flex;
          justify-content: end;
          height: 100%;
          align-items: center;
        }
      }
    }
  }

  .info {
    width: 40%;
    padding: 8px;
  }

  .instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(104, 224, 89);
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.result-message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

  .actions {
    display: flex;
    flex-direction: column;
    button {
      padding: 8px;
      margin-top: 4px;
    }
  }
}

@media only screen and (max-width:1000px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}