
<div class="settings-container">
    <div class="card">
        <h3>Configurar juego</h3>
        <form [formGroup]="settingsForm" class="form" (ngSubmit)="start()">
            <div class="formField">
                <div class="input-label">
                    <label for="cells">Celdas</label>
                </div>

                <input type="number" step="4" name="cells" min="0" max="60" formControlName="cells">
            </div>
            <div class="formField">
                <div class="input-label">
                    <label for="pits">Pozos</label>
                </div>
                <input type="number" step="4" name="pits" min="0" max="30" formControlName="pits">
            </div>
            <div class="formField">
                <div class="input-label">
                    <label for="arrows">Flechas</label>
                </div>
                <input type="number" step="4" name="arrows" min="0" max="10" formControlName="arrows">
            </div>
            <hr>
            <button type="submit">Comenzar a jugar</button>
        </form>
    </div>
</div>
<div class="alert" *ngIf="alertMessage">{{alertMessage}}</div>
